

<div class="col-md-6 left">
 map 1

 <div id="map-canvas"></div>

 <div id="tweet-recent">
   <%= render "tweet1" %>
 </div>

</div>


<div class="col-md-6 right">
 map 2

 <div id="map-canvas-2"></div>

 <div id="tweet-recent">
   <%= render "tweet2" %>
 </div>

</div>
