

<div class="col-md-6 left">
 map 1

 <div class="map_both">
   <div id="map-canvas"></div>
 </div>

 <div class="tweet_both">
   <%= render "tweet1" %>
 </div>

</div>


<div class="col-md-6 right">
 map 2

 <div class="map_both">
   <div id="map-canvas-2"></div>
 </div>

 <div class="tweet_both">
   <%= render "tweet2" %>
 </div>

</div>
