

<div class="col-md-6 left">
 map 1

<% if @tweet1 %>
 <% @tweet1.each do |tweet| %>
   <%= tweet.text %><br>
   <%= "#{tweet.user.screen_name}" %>
 <% end %>
 <% end %>

</div>


<div class="col-md-6 right">
 map 2

 <% if @tweet2 %>
  <% @tweet2.each do |tweet| %>
    <%= tweet.text %><br>
    <%= "#{tweet.user.screen_name}" %>
  <% end %>
  <% end %>

</div>
