
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   font-family: 'Oxygen', sans-serif;
 }
h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topbar {
  background-color: #FFFFFF;
  height: 10%;
}


.botbar {
  background-color: #FFFFFF;
  height: 10%;
}


.left {
  background-color: #FFFFFF;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

.right {
  background-color: #FFFFFF;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #FFF;
    margin:auto;
    padding-top: 10px;
}

#map-canvas-2 {
    width: 500px;
    height: 400px;
    background-color: #FFF;
    margin:auto;
    padding-top: 10px;
}

#chart_gauge1_div {
  margin:auto;
  width: 50%;
  padding-top: 10px;
}

#chart_gauge2_div {
  margin:auto;
  width: 50%;
  padding-top: 10px;
}

.personality_both {
  margin:auto;
  padding-top: 10px;
}
