
 @import "bootstrap-sprockets";
 @import "bootstrap";
h4 {
  margin: 0px;
}

.topbar {
  background-color: #d2e9f0;
  height: 10%;
}


.botbar {
  background-color: #63C7B2;
  height: 10%;
}


.left {
  background-color: #FFFFFF;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

.right {
  background-color: #FFFFFF;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
    margin:auto;
}

#map-canvas-2 {
    width: 500px;
    height: 400px;
    background-color: #CCC;
    margin:auto;
}
