<!DOCTYPE html>
<html>
<head>
  <title>SocialComp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <navbar>
    <div class="topbar">
      <h4>Social Comps</h4>
    </div>
    <div class="botbar">
      <div class="form-group">
        <div class="btn btn-primary"> Maps </div>
        <div class="btn btn-primary"> Sentiment </div>
        <div class="btn btn-primary"> Tweets </div>
      </div>
    </div>
  </navbar>

</head>
<body>

<%= yield %>

</body>
</html>
